#main{
	width:620px;
	height:300px;
	background-color:#d4d4d4;
      display:flex;
border:5px solid black;
border-radius:50px;	
	#green{
		background-color:green;
		width:100px;
		height:100px;
		border-radius:50%;
		position:relative;
		top:100px;
		left:170px;
		
		
	}
	#yellow{
	background-color:yellow;
		width:100px;
		height:100px;
		border-radius:50%;
		position:relative;
		top:100px;
		left:210px;
	}
	#red{
		background-color:red;
		width:100px;
		height:100px;
		border-radius:50%;
		position:relative;
		top:100px;
		left:250px;

	}